.leftbubble{
	width: 51%;
	float: left;
	margin: 10px;
	padding: 5px;
	background-color: rgb(242,56,90);
	border-bottom: 15px solid rgb(255,255,255);
	border-left: 15px solid rgba(0,0,0,0);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 13px 25px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 13px 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 13px 25px;
	font-size: 18px;
	color: white;
	font-family: Tahoma;
}
.rightbubble{
	width: 51%;
    float: right;
	margin: 10px;
	padding: 5px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 13px 25px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 13px 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 13px 25px;
	background-color:rgb(233,241,223);
	//background-image: url('../assets/bg-white-grainy.png');
	//opacity: 0;
	font-size: 18px;
	font-family: Tahoma;
	transition: padding 1s;
	 border-bottom: 15px solid rgb(255,255,255);
	 border-right: 15px solid rgba(0,0,0,0);
}
